<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Foundation | Welcome</title>
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
 
</head>
<body>
<br><br>
<center><h1>Comunidad online <small>Informa-t.</small></h1></center>
<div class="row" id="content">
<div class="medium-8 columns">
<div class="blog-post"
<h3>Compartir conocimiento para crecer juntos <small>3/5/2015</small></h3>
<img class="thumbnail" src="images/comunidad.jpg">
<p>Es una sección imprescindible que nos diferencia del resto de competidorea. Nuestro sitio web tendrá dos foros, cada uno de ellos al target correspondiente, ahí se producirá una comunicación bidireccional entre el emisor (nosotras) y el receptor (usuarios). Esto nos puede ayudar a comprender más a los usuarios y solventar sus problemas más comunes.</p>
<div class="callout">
<ul class="menu simple">
<li><a href="#">Autor: Montse Villaverde</a></li>
<li><a href="#">Comentarios: 3</a></li>
</ul>
</div>
</div>
<div class="blog-post">
<h3>Foro aprendices <small>12/5/2016</small></h3>
<img class="thumbnail" src="images/foro_aprendices.jpg">
<p>Participa preguntando y respondiendo a las dudas que otros usuarios planteen, es tu espacio para aprender y demostrar lo que sabes.</p>
<div class="callout">
<ul class="menu simple">
<li><a href="#">Autor: Mercedes Muñoz de la Peña</a></li>
</ul>
</div>
</div>

<div class="blog-post">
<h3>Foro de expertos <small>3/6/2015</small></h3>
<img class="thumbnail" src="images/foro_expertos.jpg">
<p>Te invitamos a debator sobre los temas que te interesan, puedes enriquecer el foro con tus aportaciones y aprender de otros...</p>
<div class="callout">
<ul class="menu simple">
<li><a href="#">Autor: Montse Villaverde</a></li>
</ul>
</div>
</div>
</div>
<div class="medium-3 columns" data-sticky-container>
<div class="sticky" data-sticky data-anchor="content">
<h4>Categorías</h4>
<ul>
<li><a href="#">Aprendices</a></li>
<li><a href="#">Expertos</a></li>
</ul>
</div>
</div>
</div>
<div class="row column">
<ul class="pagination" role="navigation" aria-label="Pagination">
<li><a href="#" aria-label=" Página Anterior">Anterior |</a></li>
<li><a href="#" aria-label="Página siguiente">Siguiente</a></li>
</ul>
</div>

</body>
</html>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>
<footer>
<div class="top-bar dark">
<div class="top-bar-left">
<ul class="menu">
<li><a href="#">Enlace1</a></li>
<li><a href="#">Enlace2</a></li>
<li><a href="#">Enlace3</a></li>
</ul>
</div>
<div class="large-9 columns">
<!-- <h5>TEXTO FOOTER</h5>
  -->
<center><p>POLÍTICA DE PRIVACIDAD </strong>|<strong> CONTRATAR PUBLICIDAD | <a href="/contactar">CONTACTO</a> | <a href="http://www.twitter.com/ecomunica_2">Síguenos en Twitter</a></p></center>
</div>
</div>
<div class="row expanded">
<div class="medium-6 columns">
</div>
<div class="medium-6 columns">
<ul class="menu align-right">
<li class="menu-text">Copyright © 2015 Montse & Mercedes</li>
</ul>
</div>
</footer>

    
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/what-input.min.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>

