<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Informa-t | Welcome</title>
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="row">
        <div class="large-12 columns">

 <ul class="dropdown menu" data-dropdown-menu>
  <li><a href="/inicio">Inicio</a></li>
  <li><a href="/posts">Blog</a></li>
  <li><a href="/escuela">Escuela Informa-t</a></li>
  <li><a href="/comunidad">Comunidad online</a></li>
   <li><a href="/herramientas">Herramientas</a></li>
    <li><a href="/suscripcion">Suscripción</a></li>
     <li><a href="/contactar">Contactar</a></li> 
     <li><a href="/ayuda">Ayuda</a></li>
</ul>
<div class="medium-6 columns">
<img src="images/publicidad1.jpg" alt="Tu anuncio en Informa-t">
</div>
<div class="row">
<div class="medium-6 columns">

</div>
<br><br>


<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>
<footer>



    
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/what-input.min.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>




